
.insert__p {
    color: wheat;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.insert-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: grey;
    border-radius: 5px;
}

