body {
  background-color: black;
}

.title {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.container {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.right-side {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form__form {
  display: flex;
  flex-direction: column;
}

.login-form__form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

.login-form__submit, button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login-form__submit:hover, button:hover{
  background-color: lightblue;
  color: #000;
}

.login-form__submit:disabled {
  cursor: not-allowed;
}

.redirect-btn {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}


.img {
  width: 90%;  
}
