.text-center {
  text-align: center;
}

.actions-cell {
  width: 80px; 
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 30%;
  margin: 10px; 
  text-align: center;
}

.my-custom-scrollbar {
  position: relative;
  width: 70%;
  height: 300px;
  overflow: auto;
  }

  .table-wrapper-scroll-y {
  display: block;
  }

  p {
    width: 70%;
  }