.show_tables__p {
    color: wheat;
}

.table-container {
    max-height: 350px;
    overflow-y: auto;
    width: 50%;
  }
  
  th {
    text-align: center;
    padding: 4px;
    
  }
  
  td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }

 
  



