.table-wrapper {
  max-height: 300px; /* Maksymalna wysokość kontenera */
  overflow-y: auto; /* Pionowe paski przewijania, jeśli tabela jest za długa */
  width: 50%;
  margin: 0 auto; /* Centruje tabelę na stronie */
}

