.export-import-panel {
    position: fixed;
    top: 100px; 
    left: -150px;
    transition: left 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 50vh;
    background-color: #f0f0f0;
  }
  
  .export-import-panel:hover {
    left: 0;
  }
  
  .export-import-panel__menu {
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }